{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'fonts.css' %}" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="index.html">Observatório</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Início</a></li>
				<li><a href="#" accesskey="2" title="">Sobre</a></li>
				<li><a href="#page" accesskey="3" title="">Diagnóstico Educacional</a></li>
				<li><a href="metas_estratagias.html" accesskey="4" title="">Metas e estratégias</a></li>
				<li class="login_profile" ><a  href="{% url 'login' %}" accesskey="4" title="">Login</a></li>
			</ul>
			
		</div>
		
	</div>
	<div id="banner">&nbsp;</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>Plano Municipal de Educação</h2>
				<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> </div>
			<p>This is <strong>CrossWalk</strong>, a free, fully standards-compliant CSS template designed by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun :) </p>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
		</ul>

	</div>






	<div id="extra" class="container">
		<div class="title">
			<h2>Praesent scelerisquet</h2>
			<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box"> <span class="fa fa-cloud-download"></span>
					<p>Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad  torquent per conubia nostra.</p>
				</div>
			</div>
			<div class="boxB">
				<div class="box"> <span class="fa fa-cogs"></span>
					<p>Etiam neque. Vivamus consequat lorem at nisl. Nullam  wisi a sem semper eleifend. Donec mattis.</p>
				</div>
			</div>
			<div class="boxC">
				<div class="box"> <span class="fa fa-user"></span>
					<p> Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus.</p>
				</div>
			</div>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
		</ul>
	</div>
	<div id="page" class="container">
	
		<h2>Diagnóstico Educacional</h2>
		<br>
		<p>  Os dados censitários, dos últimos cinco anos, demonstram que Florianópolis teve acrescido à sua população um número expressivo de habitantes (conforme tabela 1), e desses, um número significativo de imigrantes vindos de outras cidades catarinenses, de outros Estados Brasileiros e também de outros países, exigindo políticas públicas, voltadas às novas necessidades desta população, bem como, daquelas que aqui já residem. Fato este, que demanda parcerias com outros entes federados, para a ampliação do atendimento da população em idade escolar.</p>
		<figure  class="population-img" >
			<img src="{% static "img/tabela1.jpg" %}" alt="Tabela 1"/>
		</figure>
		<p> Observa-se que na primeira década do século XXI houve um crescimento populacional em Florianópolis na ordem de 23%, o que linearmente informa um índice de 2,3% ao ano. Constata-se nessa análise que houve também uma diminuição da população da educação básica (0 a 17 anos) na faixa média de 8%. Pelos números apurados no Censo Populacional 2010, esse crescimento da primeira década dos anos 2000, se deu mais na faixa etária acima de 18 anos (43,6%), o que nos infere a uma maior imigração do que propriamente um crescimento da natalidade local.</p>
		<p>  Essa imigração é sem dúvida atraída pelos índices que Florianópolis conquistou nos últimos anos referentes à oportunidade de escolarização, emprego e renda, formação profissional, preservação ambiental adequada a uma política de crescimento sustentável e belezas naturais, ofertando um Índice de Desenvolvimento Humano Municipal (IDH) de 0,847 e um Índice de Desenvolvimento na Educação (IFDM) de 0,8401 numa escala de 0 a 1 aferida pelo IBGE/2010 e pela FIRJAN/20111 respectivamente (conforme tabela 2).</p>

		<figure  class="population-img" >
			<img src="{% static "img/tabela2.jpg" %}" alt="Tabela 2"/>
		</figure>
		
		<p> O Município conta com 350 instituições de educação básica e 15 instituições de ensino superior, contemplando as esferas federal, estadual, municipal e privada. Também possui instituições filantrópicas conveniadas que oferecem aos estudantes da rede pública do ensino básico, um atendimento complementar e/ou suplementar. Conforme tabela 03. </p>
		
		<figure  class="population-img" >
				<img src="{% static "img/tabela3.jpg" %}" alt="Tabela 3"/>
			</figure>
		<p>  O índice médio de analfabetismo na faixa etária da ordem de 0,9%, conforme Tabela 2, sendo um dos mais baixos do Brasil. Observa-se que apesar do decréscimo da população da educação infantil (-10,7%), houve um crescimento na oferta de vagas da educação infantil de (0 a 3) anos, que segundo os dados do SIMEC (Sistema de Informação do Ministério da Educação) atingiu em 2014, a taxa de atendimento da ordem de 47,5%, fazendo com que Florianópolis aproxime-se cada vez mais da meta do Plano Nacional de Educação, estipulada em 50% (cinqüenta por cento). Em relação à média brasileira, Florianópolis é destaque. (Conforme Tabela 4 e 5)</p>
		
		<figure  class="population-img" >
				<img src="{% static "img/tabela4.jpg" %}" alt="Tabela 4"/>
			</figure><br>
		<figure  class="population-img" >
				<img src="{% static "img/tabela5.jpg" %}" alt="Tabela 5"/>
		</figure>
		<p> Com relação ao atendimento na faixa etária de 4 a 6 anos, apesar do decréscimo populacional aferido na primeira década dos anos 2000, também houve um crescimento da oferta de vagas, que segundo os dados do SIMEC (Sistema de monitoramento e controle do Ministério da Educação) foi de 87,3%, indicando, Florianópolis, bem próximo da universalização desse atendimento. Conforme tabela 06.</p>
		<figure  class="population-img" >
				<img src="{% static "img/tabela6.jpg" %}" alt="Tabela 6"/>
		</figure>

		<p> No Ensino Fundamental, o IDEB alcançado por todas as esferas administrativas públicas foi de 5,25 na média; com uma reduzida taxa de abandono e uma taxa de aprovação de 96,8%, nos anos iniciais e de 88,5% nos anos finais. (Conforme tabela 7).</p>

		<figure  class="population-img" >
				<img src="{% static "img/tabela7.jpg" %}" alt="Tabela 7"/>
		</figure>
		<p> Florianópolis possui uma rede pública que oportuniza 87,9% de escolas com algum atendimento de pelo menos 7h aos alunos, índice muito acima da meta estabelecida nacionalmente. Embora a cidade apresente índices que são referências nacionais, o Plano Municipal de Educação para o decênio 2015 – 2025 busca ofertar estratégias e oportunidades para avançar seus indicadores. Cf. Tabela 08.</p>
		<figure  class="population-img" >
				<img src="{% static "img/tabela8.jpg" %}" alt="Tabela 8"/>
		</figure>

		<p>Para atingir a meta de redução a 0 (zero) no abandono escolar e cada vez mais minimizar as taxas de distorção idade série, o município vem oportunizando aperfeiçoamento profissional aos trabalhadores da educação. Desta forma, em 2014, segundo dados do SIMEC, atingiu-se um índice de 43,3% de seus docentes com pós-graduação, em todas as esferas, destacando-se a Rede Municipal de Ensino de Florianópolis com 84,2% dos docentes com pós-graduação, (Dados da SME). Cf. tabela 09.</p>

		<figure  class="population-img" >
				<img src="{% static "img/tabela9.jpg" %}" alt="Tabela 9"/>
		</figure>

		<p>
				Na inclusão de pessoas com deficiência, Florianópolis é destaque nacional, sendo ganhadora de prêmios em relação à acessibilidade arquitetônica de suas escolas e do atendimento educacional especializado que realiza, apresentando uma taxa de atendimento de 96% em 2014, segundo o SIMEC/MEC.

				Com relação ao ingresso de jovens no ensino médio, ensino técnico e ensino superior, Florianópolis aponta uma oferta de vagas crescente ao longo dos anos, o que revela ser uma cidade preocupada com a formação intelectual e técnica de sua população.
			
				 Na educação de jovens e adultos a capital apresenta uma taxa decrescente, o que indica uma política pública educacional eficiente para um público que durante uma parte de suas vidas foi alijada da escola. Com isto, oportuniza-se um aumento nos níveis de escolarização propiciando novas oportunidades a esse público, no mercado de trabalho, resultando numa melhor qualidade de vida.
			
				 Finalizando, destacamos que a Rede Municipal de Ensino de Florianópolis investe na educação básica quase 30% de sua receita e por inúmeras vezes, premiada pela qualidade de sua educação.            Os referidos indicadores constatam que Florianópolis está no caminho certo, buscando através de políticas públicas, oportunizar a seus habitantes, uma formação capaz de garantir o contínuo saldo de qualidade que a cidade vem conquistando, sendo referência no ensino público em âmbito nacional.
		</p>



		<!--  <div class="title">
			<h2>Nulla luctus eleifend</h2>
			<span class="byline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span> </div>
		<div class="gallery">
			<div class="boxA"><img src="images/pic01.jpg" width="320" height="200" alt="" /></div>
			<div class="boxB"><img src="images/pic02.jpg" width="320" height="200" alt="" /></div>
			<div class="boxC"><img src="images/pic03.jpg" width="320" height="200" alt="" /></div>
		</div>	
		<p>Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor.</p>
		<ul class="actions">
			<li><a href="#" class="button">Etiam posuere</a></li>
			
		</ul>  -->
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
